.header-md::after {
    display:  none !important;
}   

img{
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
    padding: 0px 20%;  
}

ion-label{
    font-weight: bold;
}

h1{
    margin-top: 0px;
}

#form{
    margin-top:8%;
}

.register div {
    text-align: right;
}