ion-item{

   border:1px solid gray;
   --padding-start	:8px;
   --padding-end	:0px;
   margin-bottom: 10px;
    p{
        font-weight: bold;
    }

    h2{
        overflow: initial;
    }
  
}

h1{
    margin-top: 0px;
    margin-bottom: 30px;
}

img{
    margin-left: 10px;
    width: 32%;
}