

.header-md::after {
    display:  none !important;
}   

ion-label{
    font-weight: bold;
}

img{
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
    padding: 0px 20%;  
}

h1{
    margin-bottom: 22px;
}