.myButton{
    height: 48px;
    margin-top: 35px;
    font-size: 18px;
    text-transform: initial;
    border-radius: 50px;
    box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.15);
    --box-shadow:none;
    margin-left: 20%;
    margin-right: 20%;
}

h1{
    margin-top: 0px;
   
}

.header-md::after {
    display:  none !important;
}   

img{
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
    padding: 0px 20%;  
}

ion-label{
    font-weight: bold;
}
