.header-md::after {
    display:  none !important;
}   
img{
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
    //padding: 0px 20%;  
}

h1{
    margin-top: 0px;
}

ion-item{
    .item-native{
        background: unset;
    }
    --background	:unset !important;

    ::slotted(ion-avatar){
        height: auto;
        width: 100%;
    }
}

ion-icon{
    font-size: 30px;
    margin-top: 6px;
}