

<ion-content class="register">

  <ion-row (click)="dismiss()">
    <ion-col size="1">
      <ion-icon style="font-size: 24px;" name="close-outline" color="primary"></ion-icon>
    </ion-col>
    <ion-col size="11"></ion-col>
  </ion-row>


  <div class="container">  
    <ion-icon name="checkmark-outline" class="myIcon" color="primary" ></ion-icon>
  </div>

  <div class="note">
    <h2> طلبك مكتمل  </h2>
    <p style="padding: 4px 7px;    font-size: 16px;">  تم استكمال طلبك بنجاح يمكنك المتابعة وانتظار  اشعار منا </p>
  </div>
  
</ion-content>
