.myIcon{
    font-size: 65px;
}

.container{
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 36% 36% 11% 36%;
    background: #ffffff;
    padding: 14px;
}

.note{
    text-align: center;
    

    h2{
        color: #e9262e ;
        font-weight: bold;
    }

    p{
        color: #515C6F;
        white-space: normal;
    }
}