.header-md::after {
    display:  none !important;
}   
img{
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
    //padding: 0px 20%;  
}

h1{
    margin-top: 0px;
}


ion-item{
    .item-native{
        background: unset;
    }
    --background	:unset !important;

    ::slotted(ion-avatar){
        height: auto;
        width: 100%;
    }
}

ion-icon{
    font-size: 30px;
}



    .increaseIcon{
        font-size: 26px;
    }
    .decreaseIcon{
        font-size: 26px;
    }

    .productQuantity{
        padding: 0 16px;
    }


ion-item-option{
    --background: #e2001a;
    border-radius: 20px 0px 0px 20px;
}

.myButton{
    height: 48px;
    margin-top: 35px;
    font-size: 18px;
    text-transform: initial;
    border-radius: 50px;
    box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.15);
    --box-shadow:none;
    margin-left: 20%;
    margin-right: 20%;
}